.mainContent {
    text-align: center;
}

.fa.fa-button {
    font-size: 20px;
}
button.btn-link > .fa.clickableIcon{
    color: #343a40;
}

.fa.clickableIcon {
    
    font-size: 30px;
}

#outstandingGames li,
#submittedGames li{
    margin-top: 10px;
    margin-bottom: 10px;
}

#listing li a.nav-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.center-text {
    line-height: 50px;
}

button.scoreAppButton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

button.scoreAppButton:disabled,
button.scoreAppButton:disabled {
    cursor:not-allowed;
}

#helpModal li {
    text-align: left;
    font-size: 12px;
}

.helpLink {
    margin-bottom: 40px;
}

div.left-align {
    text-align: left;
}

a.btn:not([href]) {
    outline: red solid 0.5em;
    ERROR: In-accessible link styled as button;
}

#navbarSupportedContent li.nav-item a.nav-link {
    color: black;
}

#wrapper a {
    color : #005eff;
}

#wrapper .btn-link {
    color : #005eff;
}

#wrapper a.nav-link.active {
    color: white;
    background-color: #005eff;
}

#wrapper .btn-link {
    color : #005eff;
}

#wrapper .btn-success {
    background-color: rgb(33, 136, 56);
}

#wrapper .btn-success:hover {
    background-color: rgb(40, 167, 69);;
}

#wrapper .btn-info {
    background-color: rgb(18, 123, 139);
}

#wrapper .btn-info:hover {
    background-color: rgb(24, 162, 184);
}