{% extends "base.html" %}
{% block content %}
<h1 data-cy="welcomeHeader">
    Welcome to the Waterloo Kan Jam Website!
</h1>
<br>

<p data-cy="welcomeMessage">
    A simple little app to help keep track of scores and allow to stay
    up to date on your standings and schedule.
</p>
 
{% if base_data.testing == 'False' %}
    <iframe
        class="mobile-video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/mdAuJR9w_kY"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        title="2021 Promo Video">
    </iframe>
{% endif %}
{% endblock %}