{% extends "base.html" %}
{% block content %}
<h1>
    {{ team.name }}
</h2>

{% if team.homefield %}
<h3>
    Field: <a href="/field/{{team.homefield.id}}">{{ team.homefield.name }}</a>
</h3>
{% endif %}

<h2>
Players
</h2>
<ul title="Players">
    {% for player in team.players %}
        <li title="{{ player.name }}">
            {{ player.name }}
        </li>
    {% endfor %}
</ul>

{% if on_team %}
<button class="btn btn-danger" onclick="makeTeamRequest({{team.id}}, {{current_user.id}}, false);">
    Leave team
</button>
{% else %}
<button class="btn btn-success" onclick="makeTeamRequest({{team.id}}, {{current_user.id}}, true);">
    Join team
</button>
{% endif %}
{% endblock %}

{% block script %}
<script>
    function makeTeamRequest(team_id, player_id, joining) {
        const teamRequest = {player_id: player_id, team_id: team_id, register: joining};
        $.ajax({
            type: "POST",
            url: "{{url_for('registration_for_team')}}",
            contentType: "application/json",
            data: JSON.stringify(teamRequest),
            dataType: "json",
            async: true,
            success: function(result) {
                console.log(result)
                location.reload();
            }, error: function(request, error) {
                alert("Unable to deal with request");
                console.error(request);
                console.error(error);
            }
        });
    }

</script>
{% endblock %}