{% extends "base.html" %}
{% block content %}
<h1>
    Videos
</h1>
<iframe
    class="mobile-video"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/BRa2gZEsxcw"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    title="2022 Promo">
</iframe>
<br><br>
<iframe
    class="mobile-video"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/6TdwKlOMQfs"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    title="2021 Closing Montage">
</iframe>
<br><br>
<iframe
    class="mobile-video"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/qp74fzNrVGI"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    title="2021 Promo">
</iframe>
<br><br>
<iframe
    class="mobile-video"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/mdAuJR9w_kY"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    title="2020 Promo Video">
</iframe>
{% endblock %}